.ticket-container {
    position: relative;
    /* Add this */
    width: 1200px;
    height: 200px;
    display: flex;
}

.ticket-image-container {
    flex: 0 0 400px;
    /* Fixed width */
    height: 100%;
    overflow: hidden;
}

.ticket-details-container-top {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.ticket-name {
    width: 100%;
    height: 50%;
    /* background-color: grey; */
    margin-bottom: 10px
}

.text-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
}

.text-left {
    display: flex;
    flex-direction: column;
}

.text-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* RHS */
.details-section-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Added for absolute positioning of semi-circle */
}

.grey-dotted-line {
    height: 100%;
    background-color: transparent;
    border-left: 1px dashed grey;
}

.test-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.test-text {
    white-space: nowrap;
    transform: rotate(90deg);
    color: grey;
    font-size: 10px;
}

.semi-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
}

.semi-circle {
    width: 20px;
    height: 40px;
    background-color: #000;
    border-radius: 100px 0 0 100px;
    position: absolute;
    right: 0;
    top: 40%;
}


/* Ticket menu */

.ticket-container,
.ticket-menu {
    height: 200px;
    /* You can set this to match the height of your TicketDetails component */
}

.ticket-menu {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Or any other value that suits your design */
}

.menu-button {
    flex-grow: 1;
    text-align: center;
    gap: 5px;
    border-radius: 5px;
    color: #F6E902;
    /* Hardcoded yellow */
    background-color: transparent; /* Set initial background color to transparent */
    border: 2px solid #F6E902;
    /* Hardcoded yellow */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add color transition */
}

.menu-button:hover {
    background-color: #F6E902; /* Change background color to yellow on hover */
    color: #000; /* Change font color to black on hover */
}
