.ticket-container {
    position: relative;
    /* Add this */
    width: 1200px;
    height: 200px;
    display: flex;
}

.ticket-image-container {
    flex: 0 0 450px;
    /* Fixed width */
    height: 100%;
    overflow: hidden;
}

.ticket-details-container-top {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.ticket-name {
    width: 100%;
    height: 50%;
    /* background-color: grey; */
    margin-bottom: 10px
}

.details-section-right {
    display: flex;
    justify-content: center;
}

.test-text {
    transform: rotate(270deg);
    margin: auto;
}

.text-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
}

.text-left {
    display: flex;
    flex-direction: column;
}

.text-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.semi-circle {
    width: 20px;
    height: 40px;
    background-color: #000;
    border-radius: 100px 0 0 100px;
    position: absolute;
    right: 0;
    top: 40%;
}


/* Ticket menu */

.ticket-container,
.ticket-menu {
    height: 200px;
    /* You can set this to match the height of your TicketDetails component */
}

.ticket-menu {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Or any other value that suits your design */
}

.menu-button {
    flex-grow: 1;
    text-align: center;
    gap: 5px;
    border-radius: 5px;
    color: #F6E902;
    /* Hardcoded yellow */
    border: 2px solid #F6E902;
    /* Hardcoded yellow */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-button:hover {
    background-color: var(--main-blue);
}