.ticket-container {
    position: relative;
    width: 1200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.ticket-image-container {
    width: 650px;
    /* flex: 0 0 400px; */
    height: 100%;
    overflow: hidden;
}

.ticket-details-container-top {
    width: 100%; /* Set the width to 100% to occupy the available space */
    display: flex;
    flex-direction: column;
    padding: 60; /* Remove padding */
    margin: 60; /* Remove margin */
}

.ticket-name {
    width: 100%;
    height: 50%;
    margin-bottom: 10px
}

.text-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
}

.text-left {
    display: flex;
    flex-direction: column;
}

.text-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* RHS */
.details-section-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Added for absolute positioning of semi-circle */
}

.grey-dotted-line {
    height: 100%;
    background-color: transparent;
    border-left: 1px dashed grey;
}

.test-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
}

.test-text {
    white-space: nowrap;
    transform: rotate(90deg);
    color: grey;
    font-size: 10px;
}

.semi-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
}

.semi-circle {
    width: 20px;
    height: 40px;
    background-color: #000;
    border-radius: 100px 0 0 100px;
    position: absolute;
    right: 0;
    top: 40%;
}


/* Ticket menu */
.ticket-container,
.ticket-menu {
    height: 200px;
  }
  
  .ticket-menu {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .menu-button {
    flex-grow: 1;
    text-align: center;
    gap: 5px;
    border-radius: 12.5px; /* Increase border-radius for more rounded buttons */
    color: #F6E902; /* Hardcoded yellow */
    background-color: transparent; /* Set initial background color to transparent */
    border: 2px solid #F6E902; /* Hardcoded yellow */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add color transition */
  }

.menu-button:hover {
    background-color: #F6E902; /* Change background color to yellow on hover */
    color: #000; /* Change font color to black on hover */
}

.inverted-button {
    flex-grow: 1;
    text-align: center;
    gap: 5px;
    border-radius: 12.5px;
    color: black; /* Set font color to black */
    background-color: #F6E902; /* Background color inverted to yellow */
    border: 2px solid #F6E902; /* Border color inverted to yellow */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add color transition */
  }
  
.inverted-button:hover {
    color: #F6E902; /* Text color becomes yellow on hover */
    background-color: transparent; /* Background becomes transparent on hover */
}