.ticket-container {
    position: relative;  /* Add this */
    width: 1200px;
    height: 200px;
  }
  
  .ticket-image-container {
    flex: 0 0 450px; /* Fixed width */
    height: 100%;
    overflow: hidden;
  }
  
  .ticket-details-container {
    flex: 1; /* Fill the remaining space */
  }

  /* Ticket menu */
  .ticket-container, .ticket-menu {
    height: 200px; /* You can set this to match the height of your TicketDetails component */
  }

  .ticket-menu {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;  /* Or any other value that suits your design */
  }
  
  .menu-button {
    flex-grow: 1;
    text-align: center;
    gap: 5px;
    border-radius: 5px;
    color: #F6E902; /* Hardcoded yellow */
    border: 2px solid #F6E902; /* Hardcoded yellow */
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

  .menu-button:hover {
    background-color: var(--main-blue);
  }
  
  
  
  
  